
.navbar .navbar-nav {
    margin-bottom: -50px;

    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {

    text-align: center;

}

.navbar .navbar-collapse a {

    font-size: 20px;

}
